
.upload-container{
  text-align: center;
  padding:20px;
}

.upload-buttons{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.upload-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-section input[type = "file"]{
  margin-bottom: 10px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

h1 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 2.5rem;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

button{
  background-color: #1d5261;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

button:hover{
  background-color: #0e222e;
}

button:disabled{
  background-color: #ccc;
  cursor: not-allowed;
}

textarea {
  width: 90%;
  max-width: 600px;
  height: 150px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

